/* line 1, ../compass/sass/styles.scss */
body {
  font-family: sans-serif;
  font-weight: 500;
}

/* line 8, ../compass/sass/styles.scss */
p {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* line 12, ../compass/sass/styles.scss */
.navbar-default {
  margin-bottom: 0;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  border-bottom: transparent;
  height: 64px;
}

/* line 22, ../compass/sass/styles.scss */
.page-scroll {
  color: black;
  background-color: transparent;
  font-family: 'Lobster', cursive;
}

/* line 28, ../compass/sass/styles.scss */
.navbar-header .navlink {
  color: black;
  padding-top: 20px;
  font-family: 'Lobster', cursive;
}

/* line 35, ../compass/sass/styles.scss */
.navbar-default .navbar-nav li a {
  color: black;
}

/* line 39, ../compass/sass/styles.scss */
.navlinkright {
  padding-top: 6px;
}

/* line 43, ../compass/sass/styles.scss */
.jumbotron-header {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 52, ../compass/sass/styles.scss */
.jumbotron-background {
  background-color: #ded9d9;
  background-image: url("../images/bg-light.jpg");
  width: 100%;
}

/* line 58, ../compass/sass/styles.scss */
.greeting {
  background-color: white;
  opacity: .85;
  border-radius: 10px;
  padding: 0px 0px 7px 0px;
}
/* line 65, ../compass/sass/styles.scss */
.greeting h2 {
  opacity: 1;
  color: black;
  font-size: 48px;
  font-family: 'Lobster', cursive;
}

/* line 73, ../compass/sass/styles.scss */
#About {
  text-align: center;
  min-height: 100vh;
  padding: 100px 0;
  min-width: 350px;
  background-color: #EEEEEE;
}
/* line 85, ../compass/sass/styles.scss */
#About .text-center {
  min-width: 350px;
}

/* line 99, ../compass/sass/styles.scss */
.col-sm-4 {
  position: relative;
  min-width: 325px;
}
/* line 102, ../compass/sass/styles.scss */
.col-sm-4 p .text-muted {
  margin: 0px;
}

/* line 107, ../compass/sass/styles.scss */
.image-circle {
  padding: 0;
  margin-left: 0;
  width: 112px;
  height: 112px;
  position: relative;
  z-index: 100;
  background-color: #FFFFFF;
  color: white;
  border-radius: 100%;
  border: 7px solid #c1bdbd;
  text-align: center;
  position: relative;
  margin: auto;
}

/* line 124, ../compass/sass/styles.scss */
#details {
  position: relative;
  top: -105px;
}
/* line 127, ../compass/sass/styles.scss */
#details p {
  text-align: justify;
}

/* line 133, ../compass/sass/styles.scss */
hr {
  width: 50%;
  border: 1px solid #c1baba;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 141, ../compass/sass/styles.scss */
#Skills {
  text-align: center;
  min-height: 100vh;
  min-width: 350px;
}
/* line 155, ../compass/sass/styles.scss */
#Skills p {
  font-weight: 600;
  margin: 0 0 25px;
}
/* line 159, ../compass/sass/styles.scss */
#Skills .col-lg-3 {
  width: 25%;
}
/* line 162, ../compass/sass/styles.scss */
#Skills .all-icons img {
  height: 75px;
  max-width: 75px;
  margin-bottom: 20px;
}

/* line 169, ../compass/sass/styles.scss */
#Portfolio {
  padding: 50px 0;
  min-height: 100vh;
  text-align: center;
  background-color: #EEEEEE;
  overflow: auto;
}
/* line 178, ../compass/sass/styles.scss */
#Portfolio .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 10px;
}
/* line 185, ../compass/sass/styles.scss */
#Portfolio img {
  height: 211.92px;
  width: 293.33px;
  max-width: 400px;
}
/* line 191, ../compass/sass/styles.scss */
#Portfolio .portfolio-buttons {
  margin-top: 15px;
}

/* line 196, ../compass/sass/styles.scss */
#Contact {
  text-align: center;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 204, ../compass/sass/styles.scss */
#Contact .container-contact {
  position: relative;
}
/* line 207, ../compass/sass/styles.scss */
#Contact .list-inline li {
  display: inline-block;
  padding-right: 100px;
  padding-left: 100px;
}
/* line 213, ../compass/sass/styles.scss */
#Contact i {
  font-size: 5em;
  color: black;
}
/* line 217, ../compass/sass/styles.scss */
#Contact .contact-options {
  margin-top: -250px;
}

/* line 222, ../compass/sass/styles.scss */
footer .text-center {
  height: 80px;
  text-align: center;
  background-color: black;
  color: white;
}
/* line 227, ../compass/sass/styles.scss */
footer .text-center p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
}

